{#- TODO:
- [x] add rss
- [x] favicons
- [x] media preview
- [ ] twitter
- [ ] maybe google adsense
-#}

{% macro styling() %}
    {% if config.extra.inline_css -%}
        {% set styleCSS = load_data(path="public/style.css", format="plain") -%}
        <style>{{ styleCSS | trim | safe }}</style>
    {% else %}
        <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}">
    {% endif %}
    {% set color = config.extra.theme_color | default(value="orange")  -%}
    {% set colorCSS = "color/" ~ color ~ ".css" -%}
    {% if config.extra.inline_css -%}
        {% set colorCSS = load_data(path="public/" ~ colorCSS, format="plain") -%}
        <style>{{ colorCSS | trim | safe }}</style>
    {% else -%}
        <link rel="stylesheet" href="{{ get_url(path=colorCSS, cachebust=true) }}">
    {% endif %}
    {%- if config.extra.custom_css is defined -%}
        <link rel="stylesheet" href="{{ get_url(path="custom.css", cachebust=true) }}">
    {% endif %}
{% endmacro styling %}

{% macro favicon() %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{% endmacro favicon %}

{% macro rss() %}
    {%- if config.generate_feed -%}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }} RSS" href="{{ get_url(path=config.feed_filename) }}">
    {%- endif -%}
{% endmacro rss %}

{% macro fonts() %}
    <link rel="preload" href="/assets/fonts/FiraCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/FiraCode-Bold.woff2" as="font" type="font/woff2" crossorigin>
{% endmacro fonts %}

{% macro general_meta() %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ head::description() }}"/>
{% endmacro general_meta %}

{% macro description() %}
    {%- if section -%}
        {%-  if section.description -%}
            {{ section.description }}
        {%- else -%}
            {{ config.description }}
        {%- endif -%}
    {%- elif page -%}
        {%- if page.description -%}
            {{ page.description }}
        {%- elif page.summary -%}
            {{ page.summary | striptags | truncate(length=200) }}
        {%- else -%}
            {{ config.description }}
        {%- endif -%}
    {%- endif -%}
{% endmacro description %}
